<p>Welcome <%= @email %>!</p>

<p>Thank you for your interesting in speaking at Heart of Clojure!<p>

<p>Please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Before putting in your proposal, make sure you have read and understood our <a href="https://heartofclojure.eu/call-for-speakers">Submission Guidelines</a>, as they contain important information about the submission process.</p>
